Repository NBISweden/workshop-pgip: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, toml-format, yaml-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML
        entry: pixi run --environment=lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: Check end-of-file
        entry: pixi run --environment=lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: pixi run --environment=lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: Ruff lint
        entry: pixi run --environment=lint ruff-lint
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: Ruff format
        entry: pixi run --environment=lint ruff-format
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # shfmt
      - id: shfmt
        name: Format shell scripts
        entry: pixi run --environment=lint shell-format
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # Shellcheck
      - id: shellcheck
        name: Check shell scripts
        entry: pixi run --environment=lint shellcheck
        language: system
        types: [shell]
        stages: [pre-commit, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --environment=lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]
      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --environment=lint toml-format
        language: system
        types: [file, toml]
        exclude: "schema/examples/invalid"
        stages: [pre-commit, manual]
      - id: yaml-format
        name: YAML format
        entry: pixi run --environment=lint prettier-fmt
        language: system
        types: [file, yaml]
        stages: [pre-commit, manual]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        files: \.(md|qmd)$
        types: [file]
        exclude: LICENSE.md

Built site for gh-pages
  .nojekyll
  assets/logos/nbis-scilifelab.svg
  assets/logos/nbislogo-green.svg
  assets/profile/nikolay-oskolkov.jpg
  assets/profile/verena-kutschera.jpg
  img/ooa-demesdraw-fig-1.svg
  index.html
  info.html
  precourse.html
  search.json
  site_libs/bootstrap/bootstrap.min.css
  site_libs/bttn-0.2.4/bttn.min.css
  site_libs/calendar-binding-0.3.4/calendar.js
  site_libs/quarto-contrib/fontawesome6-0.1.0/all.css
  sitemap.xml
  syllabus.html
Due: none

Remove dead link
  _quarto.yml
Due: check-yaml, yaml-format

Remove dead link (#7)
  _quarto.yml
Due: check-yaml, yaml-format

Built site for gh-pages
  .nojekyll
  index.html
  info.html
  precourse.html
  schedule.html
  search.json
  sitemap.xml
  syllabus.html
Due: none

Update PDC/SUPR account application instructions
  _variables.yml
  precourse.qmd
Due: check-yaml, yaml-format

Update PDC/SUPR account application instructions (#8)
  _variables.yml
  precourse.qmd
Due: check-yaml, yaml-format

Built site for gh-pages
  .nojekyll
  info.html
  precourse.html
  search.json
  sitemap.xml
Due: none

Update schedule and add contents
  _quarto.yml
  contents.qmd
  pixi.lock
  pixi.toml
  schedule.qmd
Due: check-yaml, toml-format, yaml-format

Update compute account information
  _variables.yml
  precourse.qmd
Due: check-yaml, yaml-format

Update schedule and add contents (#9)
  _quarto.yml
  _variables.yml
  contents.qmd
  pixi.lock
  pixi.toml
  precourse.qmd
  schedule.qmd
Due: check-yaml, toml-format, yaml-format

Built site for gh-pages
  .nojekyll
  contents.html
  index.html
  info.html
  precourse.html
  search.json
  site_libs/bootstrap/bootstrap.min.css
  site_libs/bttn-0.2.4/bttn.min.css
  site_libs/calendar-binding-0.4.0/calendar.js
  sitemap.xml
  syllabus.html
Due: none

Add link to material
  index.qmd
Due: none

Add link to material (#10)
  index.qmd
Due: none

Built site for gh-pages
  .nojekyll
  index.html
  info.html
  schedule.html
  search.json
  sitemap.xml
Due: none

Built site for gh-pages
  .nojekyll
  contents.html
  index.html
  info.html
  schedule.html
  search.json
  sitemap.xml
Due: none
